<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        Dear user, thanks for choosing Balaji Tuition Center. Please find the user name and temporary password.

      username :  <strong> {{payload.userName}}</strong>
        temporary password:  <strong> {{payload.password}}</strong>

After you login you will be taken to set up password page, where you can create your password and view your child's progress.
<a href="www.balajituitioncenter.com" target="_blank">visit</a>
</body>
</html>