<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
BALAJI TUITION CENTER

Greetings {{payload.userName}},

We came to notice that you were interested in joining your ward of class {{payload.class}} in our tution center.

Below is the tution fee classes from ix to xii

<!-- A TABLE DATA -->

CLASS  FEE

ix     1000
X      1200
Xi     1800
XII    1800


For more details contact

Balaji tuition center,

4/262, Mogappair East,

Chennai-6000037


Regards,

Balaji Tuition Center
</body>
</html>